{block content}

<div class="flex justify-center my-64">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Nette sample</h2>
            <p>Nette Sample with Tailwind</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Button</button>
            </div>
        </div>
    </div>
</div>